.header{
    height:64px;
    background:#fafafa;
    position: absolute;
    width:100%
}

.tool{
    padding-left:180px;
    padding-right:180px;
    height:100%;
}

.tool img{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}

.menus{
    position: relative;
    top:50%;
    transform: translateY(-50%);
    float: right;
    
}
.menus > a{
    color:#000000 !important
}