.subclasses {
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  padding-left: 0;
  display: none;
  top: 40px;
}
.subclasses > * {
  width: 100%;
  font-size: 17px;
  list-style: none;
  padding: 20px !important;
  margin-bottom: 0;
  color: #2e2e2e !important;
  display: block;
}

.header {
  height: 64px;
  position: absolute;
  width: 1280px;
}

.tool {
  width: 100%;
  height: 100%;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.tool img {
  width: 150px;
  margin-right: 10%;
}

.menus > div {
  float: left;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
.menus > div > a {
  color: #9ca9b3 !important;
  font-size: 16px;
}

.MuiAccordionDetails-root {
  display: block !important;
  color: #000000 !important;
}

@media (max-width: 960px) {
  .tool {
    padding-left: 2%;
    padding-right: 10px;
  }
  .menus {
    display: none;
  }
}

@media (max-width: 600px) {
  .header {
    width:100%
  }

  .makeStyles-slider-26{
    min-width:0px,
  }
}