@media (max-width: 960px) {
  .pc {
    display: none;
  }
}

@media (min-width: 960px) {
  .mobile {
    display: none;
  }
}

.info_container {
  margin: 0 auto;
  margin-top: 80px;
  width: 1280px;
  padding-left: 24px;
  padding-right: 24px;
}
#info_container1 {
  margin-top: 380px;
}
.center {
  text-align: center;
}

.info_container .header {
  position: absolute;
  width: 100%;
  min-width:1280px;
  height: 400px;
  background: #f8fafc;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 960px) {
  .info_container .header {
    padding: 0 5%;
  }
}
.info_container .header > div {
  position: relative;
  height: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  width: 100%;
}

.info_container .header > div > p {
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  color: #2e2e2e;
}
@media (max-width: 960px) {
  .info_container .header > div > p {
    font-size: 24px;
  }
}
.info_container .header > div > div > p {
  float: left;
  color: #2e2e2e;
}
.info_container .header > div > div > p:first-child {
  width: 30%;
  text-align: center;
  font-size: 50px;
  padding-top: 15px;
}
.info_container .header > div > div > p:last-child {
  width: 70%;
  font-size: 22px;
}

.info_container .header > div > div > p > p {
  margin-bottom: 8px;
}

#article1 {
  padding-top: 100px;
}
#article2 {
  padding-top: 400px;
}

#article4 {
  padding-top: 1px;
}

#Mymap {
  margin: 0 auto;
  margin-top: 50px;
  max-width: 800px;
  width: 95%;
  height: 600px;
  border: 1px solid #ccc;
  margin-bottom: 100px;
}

.info_container .article_top > div {
  margin-top: 20px;
  margin-bottom: 60px;
  font-size: 15px;
  color: #999999;
  text-align: center;
}

.info_container .article_top > div:first-child {
  font-weight: 500;
  margin-top: 100px;
  text-align: center;
  font-size: 30px;
}
.info_container .article_top > div:first-child > span {
  padding-bottom: 5px;
  border-bottom: 2px solid #bdbdbd;
  color: #000000;
  line-height: 50px;
}
.info_container .article_mid {
  display: flex;
  margin-top: 100px;
  flex-wrap: wrap;
  justify-content: center;
}
.info_container .article_mid > * {
  margin: 1%;
  width: 23%;
  min-width: 250px;
  padding-bottom: 30px;
}
@media (max-width: 960px) {
  .info_container .article_mid > * {
    width: 100%;
    max-width: 500px;
  }
}

.info_container .sign {
  display: flex;
  margin-top: 20px;
  margin-bottom: 100px;
  align-items: center;
  justify-content: flex-end;
}
@media (max-width: 960px) {
  .info_container .sign {
    justify-content: center;
  }
}
.info_container .sign > img {
  width: 140px;
  margin: 0;
}

.info_container .sign > span {
  color: #000000;
  margin: 0 8px;
}

#paper {
  height: 530px;
}

.info_container .article_mid > * > img {
  position: relative;
  left: 0;
}
.info_container .article_mid > * > div {
  text-align: left;
  padding: 25px 40px 0px;
  font-size: 19px;
  font-weight: bold;
}
.info_container .article_mid > * > div:last-child {
  font-weight: normal;
}

.info_container .article_mid2 {
  padding-top: 50px;
  color: #2e2e2e;
  height: 450px;
}
.info_container .article_mid2 > div {
  float: left;
  width: 50%;
}

.info_container .article_mid2 > div:first-child {
  padding: 2%;
  width: 46%;
}

.info_container .article_mid3{
  padding-top: 50px;  
}

.info_container .article_mid3 div{
  text-align: center;
  padding-bottom:20px;
  font-size:35px;
  color:#000000;
  font-weight:500;
  
}

.info_container .article_mid3 > table{
  margin-bottom:100px;
}
.info_container .article_mid3 > table td {
  padding:10px
}

.info_container .article_mid3 > table img {
  width:100%
}
.info_container .article_mid3 > table a {
  color:#000000
}
.info_container .ceo_sign {
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.info_container .ceo_sign > img {
  width: 100px;
  margin: 0px 10px;
}

table.type03 {
  border-collapse: collapse;
  text-align: left;
  line-height: 3;
  border-top: 1px solid #ccc;
  border-left: 4px solid #369;
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
  font-size: 18px;
}
table.type03 th {
  width: 25%;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: #153d73;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #f2f2f2;
}
@media (max-width: 960px) {
  table.type03 th {
    font-size: 12px;
  }
}
table.type03 td {
  width: 75%;
  padding: 10px;
  vertical-align: top;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  color: #000000;
}

.slider_text {
  position: relative;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.5px;
}


@media (max-width:600px){
  .info_container {
    width:100%; 
    padding-left: 10px;
    padding-right: 10px;
  }
  #article1 {
    padding-top: 1px;
  }
  #info1{
    font-size: 18px;
  }
  .info_container .header {
    min-width: 0px;
  }
  .info_container .article_mid > * {
    margin: 1%;
    width: 98%;
    margin-top:30px
  }
  .info_container .article_mid > * > div:last-child {
    font-size:16px;
  }
  .info_container .header > div > p {
    font-size:20px; 
  }
  .info_container .header > div > div > p:first-child {
    font-size: 30px;
  }
  .info_container .header > div > div > p:last-child {
    font-size: 19px;
    padding-right:20px; 
  }
  .mb-12{
    font-size:1.0rem !important 
  }
  .m-0{
    font-size:0.6rem !important
  }
}


