.virtual_container{
    margin: 0 auto;
    margin-top: 30px;
    max-width: 1280px;
    padding-left : 24px;
    padding-right : 24px;
    padding-bottom: 150px;
}

.virtual_container .article_top{
    padding-top:50px;
}

.virtual_container .article_top > div{
    margin-top:20px;
    font-size: 17px;;
    color: #bdbdbd;
    text-align: center;
}

.virtual_container .article_top > div:first-child{
    font-weight: 500;
    margin-top:100px;
    text-align:center;
    font-size:30px;
    
}
.virtual_container .article_top > div:first-child > span{
    padding-bottom: 5px;
    border-bottom: 2px solid #bdbdbd;
    color:#000000;
    font-weight: bold;
}

.virtual_container .article_mid{
    font-size:20px;
    line-height:165%;
    color:#000000
}

.virtual_container .article_mid > img{
    position: relative;
    left:50%;
    transform: translateX(-50%);
    margin-top:50px;
    margin-bottom:50px;
}


.virtual_container .article_mid2 {
    display: flex;
    margin-top:100px;
    flex-wrap: wrap;
    justify-content:center;
}
.virtual_container .paper {
    margin: 1%;
    width: 31%;
    min-width: 250px;
    height: 530px
}
.virtual_container .paper > img {
    position: relative;
    left: 0
}
.virtual_container .paper > div {
    text-align: left;
    padding: 25px 40px 0px;
    font-size: 19px;
    font-weight: bold
}
.virtual_container .paper > div:last-child {
    font-weight: normal
}

.virtual_container .article_bot{
    position: absolute;
    left: 0;
    width:100%;
    margin-top:50px;
    height:1000px;
    background-color: #f8fafc;
    
}
.virtual_container .article_bot > div{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.virtual_container .article_bot > div:first-child{
    font-weight: 500;
    margin-top:100px;
    text-align:center;
    font-size:30px;
    padding-bottom:100px;
}

.virtual_container .article_bot > div:first-child span{
    color:#000000;
    border-bottom: 2px solid #bdbdbd;
    padding-bottom: 5px;
}

.virtual_container .article_bot .paper{
    margin: 1%;
    width: 48%;
    max-width:500px;
    height: 480px
}